header
{
	float: top;
	text-align: center;
	color-text:#AF0100;
	border-radius: 20px;
	width: 100%;
	padding: 3px;
	background-color: #f1f1c0;
	top: 25px; 
	box-shadow: 15px 15px 25px #AF0100;
}
h1
{
	text-align: center;
}
article
{
	width: 90%;
	height: 75%;
	text-align:center;
	background-color:#f1f1c1;
}
footer
{
	width: 90%;
	text-align: center;
	border-bottom-right-radius: 2em;
	border-bottom-left-radius: 2em;
	border: 3px;
	border-color:blue;
	background-color:#f1f1c1;
	box-shadow: 15px 15px 25px #f1f000;
}
body
{
	margin-right:200px;
	margin-left:200px;
}
form
{
	margin-left:150px;
	margin-right:150px;
}
table {
	table-layout: fixed;
	border: 3px;
	border-color:black;
	margin-left:250px;
	margin-right:150px;
    border-spacing: 5px;
	width: 50%;
	height: 150px;
	float: center;
	border-radius: 20px;
		
	box-shadow: 20px 20px 25px #AF0100;
}