/* Stilmall Christina K
*
*/
body {
	font-size: 15px; 
	color: black;
	font-family: sans-serif;
	background-color: white;
	margin-left: 10px;
	margin-right: 10px; 
}

.main {
	display: block;
	top 0;
	bottom 0;
	left 0;
	right 0;
	height: 100%;
	width:100%;
	background-color: inherit;
	color: inherit;
}
.text_om {
	top: 20px;
	display: block;
	width:600px;
	background-color: white;
	color: inherit;
	text-align: left;
	font-size: inherit;
	font-family: inherit;
}
.header1	{
	top: 20px;
	display: block;
	width:600px;
	background-color: inherit;
	color: inherit;
	text-align: center;
	font-size: 40px;
	font-family: inherit;
	font-weight: bold;
	
}

article	{
	display: block;
	background-color: inherit;
	font-family: inherit;
	color: inherit;
	line-height: 20px;
}
.rub1	{
	display: block;
	background-color: inherit;
	color: inherit;
	text-align: left;
	font-size: 25px;
	font-family: inherit;
	font-weight: bold;
	width: 600px;
	text-decoration: none;
	}
.rub2	{
	display: block;
	background-color: inherit;
	color: inherit;
	text-align: left;
	font-size: 20px;
	font-family: inherit;
	font-weight: bold;
	width: 600px;
	text-decoration: none;
	}

.test 	{
	display: block;
	background-color: white;
	font-family: inherit;
	color: inherit;
	text-align: center;
}
.testut 	{
	display: block;
	background-color: inherit;
	color: black;
	font-family: consolas,monospace;
	font-size: 12px;
	word-wrap:normal;
	padding-bottom: 30px;
}
.spelet {
	top: 30px;
	display: block;
	width:600px;
	background-color: white	;
	color: inherit;
	text-align: left;
	font-size: inherit;
	font-family: inherit;
} 

.inputn 	{
	display: block;
	padding-top:15px;
	background-color: white;
	color: black;
	font-family: consolas,monospace;
	word-wrap:normal;
}
.entabell {
	width:100%;
}

.outputn	{
	display: block;
	background-color: inherit;
	color: black;
	font-family: consolas,monospace;
	font-size: 12px;
	word-wrap:normal;
}

.slutfot 	{
	display: block;
	background-color: inherit;
	font-family: inherit;
	color: inherit;
	text-align: left;
	padding-top: 40px;
}
