body
{
	/* width: 900px; */
  	text-align:center;
  	color:black;
}
header
{
	background-color: black;
	height: 40px;
	padding: 40px;
}

h1{
	color: white;
	margin-top: auto;
}

p
{
margin: auto;	
text-align: left;
width: 40%;
}

#p2{
	font-style: italic;
}

table{
	margin: auto
}
footer
{
	
	color: white;
	height: 15px;
	font-size: small;
	background-color: black;
	/*width: 900px;
  	text-align:center;*/
}

#div2{
	width: 40%;
	/* font-size: 20px; */
	border: 2px solid black;
    padding: 2px;
    margin: auto;
  	box-shadow: 5px 5px 10px rgba(0,0,0, 0.5); 
}

#form1{
	margin: auto;
	width: 40%;
	box-shadow: 5px 5px 10px rgba(0,0,0, 0.5);   
	padding: 10px;
}

