body
{
	/* width: 900px; */
  	text-align:center;
  	color:#333;
  	font-family: 'Open Sans', 'sans-serif';
  	
}
header
{
	background-color: #333;
	font-color: #ddd;
	height: 40px;
	padding: 40px;
}

h1{
	color: #ddd;
	margin-top: auto;
}

p
{
margin: auto;	
text-align: left;
width: 40%;
}

#p2{
	font-style: italic;
}

table{
	margin: auto
}
footer
{
	
	color: #ddd;
	height: 20px;
	font-size: small;
	background-color: #333;
	/*width: 900px;
  	text-align:center;*/
}

#div2{
	width: 40%;
	/* font-size: 20px; */
	border: 2px solid black;
    padding: 2px;
    margin: auto;
  	box-shadow: 5px 5px 10px rgba(0,0,0, 0.5); 
  	background-color: #E5E4E2;
  	border-radius: 5px;
}

#form1{
	margin: auto;
	width: 40%;
	box-shadow: 5px 5px 10px rgba(0,0,0, 0.5);   
	padding: 10px;

}

